.dialogue-page
  .title= title
  .content
  .btn-wrapper
    .btns
      each btn in btns
        .btn(id="#{btn.id}")
          .txt= btn.txt
          img.shadow-icon(scalable="true", data-src="btn-generic")
      