.chapter-heading-bg
  .chapter-heading
    .title
      .bracket.flip
        img.shadow-icon(data-src="chapter-bracket")
      .words
        .title #{title}
        .sub-title #{subtitle}
      .bracket
        img.shadow-icon(data-src="chapter-bracket")
    .bar
      .bg
      .fg