@mixin include-font($fontName, $fileName, $svg, $weight, $style){
  $filePath : "../assets/fonts";
  @font-face {
      font-family:$fontName;
      src:
           url("#{$filePath}/#{$fileName}-webfont.woff2") format("woff2"),
           url("#{$filePath}/#{$fileName}-webfont.woff") format("woff"),
           url("#{$filePath}/#{$fileName}-webfont.ttf") format("truetype"),
           url("#{$filePath}/#{$fileName}-webfont.svg##{$svg}") format("svg"),
           url("#{$filePath}/#{$fileName}-webfont.eot"),
           url("#{$filePath}/#{$fileName}-webfont.eot?#iefix") format("embedded-opentype");
      font-weight: $weight;
      font-style: $style;
  }
}

@mixin no-select{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin drop-shadow ($xoffset:0px, $yoffset:1px, $blur:13px, $color:#727272, $radius:0px) {
  box-shadow: $xoffset $yoffset $blur $radius $color;
}

@mixin center-absolute (){top: 50%; left: 50%; transform: translate(-50%, -50%);}

@mixin transition ($property:all, $duration:0.2s,  $delay:0s) {
  @if $property != none {
    transition: $property $duration cubic-bezier(0.860, 0.000, 0.070, 1.000) $delay;
  } @else {
    transition: none;
  }
}

@mixin input-placeholder($color:#ffd7a2){
  ::-webkit-input-placeholder {color: $color;}
  :-moz-placeholder           {color: $color;}
  ::-moz-placeholder          {color: $color;}
  :-ms-input-placeholder      {color: $color;}
}

@mixin ie(){
  @media all and (-ms-high-contrast:none), (-ms-high-contrast:active){
    @content;
  }
}
