.defender-wrap    { height:768px; width:0; pointer-events:none;
  .defender-card  { pointer-events:all; max-width:340px; background:rgba(#020308, 0.8);  position: absolute; right:20px; padding:20px; top: 50%; transform: translate(0, -50%); color:white; text-align:center;
    > *           { padding:14px 0}
    .name         { color:$yeller; @include blue-border();}
    .quote        { @include blue-border();}
    .personal1    { padding:10px 0 0; color:$orange; font-style:italic;}
    .personal2    { }
    .info         { display:flex; @include blue-border(top); padding:0;
      > *         { width:50%; padding:20px 0;}
      .duties     {
        .duty     { }
      }
      .evidences  { @include blue-border(left);
        .evidence { }
      }
    }
    .got-it-btn   { padding:0; width:100%; @include blue-border(all); cursor:pointer;
      &:hover     {
        svg *     { fill:#ffc700; }
      }
    }
  }
}