.ctanlee             { position:absolute; z-index: 1; padding-top:27px; margin-left:-41px; margin-top:-28px;
  .face              { transform-origin: 40px 0px; @include ie() {-ms-transform-origin: 41px 35px; margin-top:-35px;};
    .animation       { width:80px; position:absolute; top:-40px;
      svg            { }
    }
  }
  .speech-box        {
    &.disabled       { display:none}
  }

  $opacity      : 0.77;
  $xtra-padding : 15px;
  
  .text              { pointer-events:none; position:absolute; top:70px; left:47px; width:200px; background:rgba(black, $opacity); padding:10px; color:white; font-style:italic; line-height:1.6;
    span.next        { pointer-events:all; position:relative; cursor:pointer; padding-left:$xtra-padding;
      &:after        { padding-right:$xtra-padding+10; position:absolute; top:0px; content:""; display:inline-block; width: 0; height: 0; border-style: solid; border-width: 10px 0 10px 7px; border-color: transparent transparent transparent #ffb61a; }
      &:hover:after  { border-color: transparent transparent transparent #ff7020; }
    }

    $offset:10px;
    $fill-color: black;
    $size:20px;

    // Defaults to Bottom Left

    &:after          {
    	bottom: 100%;
    	left: $offset;
    	content: "";
    	height: 0;
    	width: 0;
    	position: absolute;
    	pointer-events: none;
      border-bottom: $size solid rgba($fill-color, $opacity);
      border-right: $size solid transparent;
    }

    &.top            { bottom:43px; top:auto; top:initial;
      &:after        {
        top:100%;
        border-bottom: none;
        border-top: $size solid rgba($fill-color, $opacity);
        border-right: $size solid transparent;
      }
    }
    &.left           { right:-32px; left:auto; left:initial;
      &:after        { left: auto; left: initial; right:$offset;
        border-top: none;
        border-right:none;
        border-bottom:$size solid rgba($fill-color, $opacity);
      	border-left: $size solid transparent;
      }
    }
    &.top.left:after {
      border-bottom:none;
      border-right:none;
      border-top: $size solid rgba($fill-color, $opacity);
      border-left: $size solid transparent;
    }
  }
}

