.call-sign-select  { position:absolute; @include center-absolute; color:white; display:flex; align-items:center; flex-direction:column; margin:0 auto; padding:15px; text-align:center;
  p                { margin-top:20px; width:600px; font-family: $fun_cond; font-weight:200; font-size:35px; letter-spacing:0.07em; }
  .badge-box       { display:flex; border: 1px solid white; padding:10px;
    .badge         { border-right:1px solid white; height:100%; margin:0 10px 0 0; padding:0 10px 0 0px; }
    .txt           { text-align:left; }
  }
  .input           { position:relative; width:240px; display:flex; flex-direction:column; align-items:stretch;
                    @include input-placeholder(rgba($yellow, 0.3));
    &:before,
    .button:before { font-family: $fun; content:"Type your own"; position:absolute; right:100%; width:190px; text-align:right; font-size:15px; letter-spacing:0.05em; padding-top:8px; margin-right:8px;   }
    input          { color:white; display:flex; height:30px; outline:none; padding:3px 10px; background:black; border:solid 1px $yellow; font-size:17px; text-align:center; letter-spacing:0.08em;
    }
    .button        { @include no-select; border:none; position:relative; font-family: $fun; font-weight:500; font-size:15px; letter-spacing:0.05em; margin-bottom:50px;
      &:before     { padding-top:1px;  content:"Or I can give you one"}
      &:hover:before{ color:white; }
    }
  }
}