.ghost-ux{  transform-origin: 700px 600px; transform: scale(1);
  .ghost-item{ position:absolute; background:red; cursor:pointer; opacity:0;}
}
.ghost-item{ position:absolute; background:red; cursor:pointer; opacity:0;}
