@import "selection-icons";

.selection-dialogue  { font-size:16px; display:flex; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-weight:100; color:white;
  .left-section,
  .right-section     { display:flex; flex-direction:column; background:rgba(#020308, 0.8); min-width:340px; max-width: 380px;  padding:20px;
    .subtitle        { margin:15px 0; }
    ol, ul           { margin:10px 0; padding:0; }
    ol               { margin-left:18px;}
    ul               { list-style:none;
      li  &:before   { content:"•"; margin-left:-10px; padding-right:3px;}
    }
  }
  .left-section      { margin-right:5px; border:3px solid $yellow;
    .quote           { text-align:center; color:$yellow; margin-bottom:20px;
      &:before,
      &:after        { content:'"';  }
    }
    .item-info       { display:none; }
    .mini-icon       { text-align:center;
      .icon          { display:none;
        &.active     { display:block; }
        &.mini-risk-detector{ @include mini-icon( 'c5' ); }
        &.mini-voight-kampff{ @include mini-icon( 'c6' ); }
        &.mini-background-probe{ @include mini-icon( 'c4' ); }
        &.mini-double-deuce{ @include mini-icon( 'b4' ); }
        &.mini-mr-fusion{ @include mini-icon( 'b5' ); }
        &.mini-dematerializer{ @include mini-icon( 'b6' ); }
        &.mini-gated{ @include mini-icon( 'a6' ); }
        &.mini-great-wall{ @include mini-icon( 'a5' ); }
        &.mini-burninator{ @include mini-icon( 'a4' ); }
        &.mini-orbital-strike{ @include mini-icon( 'b3' ); }
        &.mini-speeder{ @include mini-icon( 'b2' ); }
        &.mini-brit-beacon{ @include mini-icon( 'e1' ); }
        &.mini-kraken-scanner{ @include mini-icon( 'd3' ); }
        &.mini-hal-scanner{ @include mini-icon( 'd2' ); }
        &.mini-card-scanner{ @include mini-icon( 'd1' ); }
        &.mini-umpire{ @include mini-icon( 'c3' ); }
        &.mini-kragle{ @include mini-icon( 'c2' ); }
        &.mini-duct-tape{ @include mini-icon( 'c1' ); }
        &.mini-patch-server{ @include mini-icon( 'b1' ); }
        &.mini-log-book{ @include mini-icon( 'a1' ); }
        &.mini-tractor-beam{ @include mini-icon( 'a3' ); }
        &.mini-escort-leash{ @include mini-icon( 'a2' ); }
        &.mini-control-center{ @include mini-icon( 'd5' ); }
        &.mini-generation{ @include mini-icon( 'd4' ); }
        &.mini-substation{ @include mini-icon( 'd6' ); }
      }
    }
    .blurb           { font-weight:400; color:$yellow; @include blue-border; padding-bottom: 20px;
      span           { color:white; }
    }
    .header          { display:flex; align-items:center;
      .line          { width:50%; content:""; @include blue-border; display:inline-block; height:2px; }
      h1             { margin:10px 5px 0; text-align:center; display:inline; font-size:18px;  }
    }
    .action          { @include blue-border(top); text-align:center;
      .btn           { display:flex;  color:$orange; align-items:center; text-transform:uppercase; justify-content:center; margin-top:10px; cursor:pointer;
        &:hover .txt { background:$orange; color:white; }
      }
      .txt           { font-family:$fun_cond; font-size:24px; letter-spacing:0.09em; border:2px solid white; padding:3px 20px; }
      &.fist .txt    { margin:13px 0 0 -7px;}
    }
  }
  .right-section     {
    h1               { @include blue-border; text-align:center; letter-spacing:0.1em; font-size:22px; }
    p                { }
    .buttons         {

    }
  }
}