.aristotle
  .chrome
  .movie
    .wrapper
    .dynamics
  .slide-ux

  .svg-filters(style="opacity:0")
    svg.defs
      defs
        filter#glow
          fegaussianblur(in='SourceGraphic', stddeviation='1.5')
          feComponentTransfer
            //- opacity of the glow
            feFuncA(type="linear" slope="0.8") 
          femerge
            femergenode
            femergenode(in='SourceGraphic')

        filter#highlightBCA
          feColorMatrix(type="matrix" values= "0   0 0 0 0\
                                               0.8 0 0 0 0\
                                               0.6 0 0 0 0\
                                               0   0 0 1 0")
          feComponentTransfer
            feFuncA(type="linear" slope="1") 
          fegaussianblur(stddeviation='0.3' result='coloredBlur')
          femerge
            femergenode(in='SourceGraphic')
            feMergeNode(in='coloredBlur')
              
        filter#highlightBCSI
          feColorMatrix(type="matrix" values= "0.11 0 0 0 0\
                                               1    0 0 0 0\
                                               0.58 0 0 0 0\
                                               0    0 0 1 0")
          feComponentTransfer
            feFuncA(type="linear" slope="1") 
          fegaussianblur(stddeviation='0.3' result='coloredBlur')
          femerge
            femergenode(in='SourceGraphic')
            feMergeNode(in='coloredBlur')
              
        filter#highlightPCA
          feColorMatrix(type="matrix" values= "1   0 0 0 0\
                                               0.3 0 0 0 0\
                                               0   0 0 0 0\
                                               0   0 0 1 0")
          feComponentTransfer
            feFuncA(type="linear" slope="1") 
          fegaussianblur(stddeviation='0.3' result='coloredBlur')
          femerge
            femergenode(in='SourceGraphic')
            feMergeNode(in='coloredBlur')
              
        filter#blueBlur
          feColorMatrix(type="matrix" values= "0.08 0 0 0 0\
                                               0.17 0 0 0 0\
                                               0.37 0 0 0 0\
                                               0    0 0 1 0")
          feComponentTransfer
            feFuncA(type="linear" slope="1") 
          fegaussianblur(stddeviation='0' result='coloredBlur')
          femerge
            femergenode(in='SourceGraphic')
            feMergeNode(in='coloredBlur')
              
        filter#black-glow
          feColorMatrix(type="matrix" values="0 0 0 0 0\
                                              0.3 0 0 0 0\
                                              0.3 0 0 0 0\
                                              0 0 0 0.8 0")
          feGaussianBlur(stdDeviation="2.5" result="coloredBlurs")
          feMerge
              feMergeNode(in="coloredBlurs")
              feMergeNode(in="SourceGraphic")
        
        filter#dropshadow(height='130%')
          fegaussianblur(in='SourceAlpha', stddeviation='3')
          //- stdDeviation is how much to blur
          feoffset(dx='2', dy='2', result='offsetblur')
          //- how much to offset
          femerge
            femergenode
            //- this contains the offset blurred image
            femergenode(in='SourceGraphic')

