.aristotle
  .chrome
  .movie
    .wrapper
  .slide-ux

  .svg-filters(style="opacity:0")
    svg.defs
      defs
        filter#glow
          fegaussianblur(in='SourceGraphic', stddeviation='1.5')
          feComponentTransfer
            //- opacity of the glow
            feFuncA(type="linear" slope="0.8") 
          femerge
            femergenode
            femergenode(in='SourceGraphic')

        filter#highlight
          feColorMatrix(type="matrix" values= "0 0 0 0   0\
                                               1 0 0 0   0\
                                               1 0 0 0   0\
                                               0 0 0 0.8 0")
          feComponentTransfer
            feFuncA(type="linear" slope="1") 
          fegaussianblur(stddeviation='4' result='coloredBlur')
          femerge
            femergenode(in='SourceGraphic')
            feMergeNode(in='coloredBlur')
              
        filter#black-glow
          feColorMatrix(type="matrix" values="0 0 0 0 0\
                                              0.3 0 0 0 0\
                                              0.3 0 0 0 0\
                                              0 0 0 0.8 0")
          feGaussianBlur(stdDeviation="2.5" result="coloredBlurs")
          feMerge
              feMergeNode(in="coloredBlurs")
              feMergeNode(in="SourceGraphic")