@mixin blue-border($border:bottom){
  @if $border == bottom{
    border-bottom:solid 2px #6B989F;
  }@else if $border == top{
    border-top:solid 2px #6B989F;
  }@else if $border == right{
    border-right:solid 2px #6B989F;
  }@else if $border == left{
    border-left:solid 2px #6B989F;
  }@else{
    border:solid 2px #6B989F;
  }

}

@mixin leftRightLines(){ display:flex; align-items:center; width:1024px;
  &:before   { content:""; display:inline-block; width:100%; height:1px; background:white; margin:0 20px 0 60px; }
  &:after    { content:""; display:inline-block; width:100%; height:1px; background:white; margin:0 60px 0 20px; }
}

@include input-placeholder;

.slide-ux    { position:relative; width: 100%; z-index: 3; pointer-events:none; height:100%;
  > *        { pointer-events:all;  }
  @import "text-dialogue/ctanlee";
  @import "text-dialogue/closed-caption";
  @import "components/cards/cards";
  @import "components/call-sign-select";
  @import "components/dialogue";
  @import "components/dialogue-pages/dialogue-page";
  @import "components/duties";
  @import "components/episode-intro-outro";
  @import "components/personal-info-intro";
  @import "components/quiz";
  @import "components/selection-dialogue";
  @import "components/sound-test";


  .button    { padding:7px 0; margin:7px 0; font-family:$fun_cond; background:#6B989F; font-size:18px; text-align:center; border:2px solid #335E6E; cursor:pointer;
    &:hover,
    &.active { background:#335E6E; border-color:$orange; color:$yeller; }
  }
}
@import "components/ghost-ux";

input{border:none; }

.icon-btn{position:relative; display: inline-block; cursor:pointer;
  .txt  { position:absolute; @include center-absolute; text-transform:uppercase; white-space:nowrap; }
}