.call-sign-select
  p Every Defender worth their salt has a call sign they are known by. Let’s choose yours.<br/>Keep it clean, soldier.
  .input
    input#callsign-txt(type="text" placeholder="Type a Call Sign" maxlength="15")
    .button#generate-callsign Generate One For Me  
  .badge-box
    .badge
      img.shadow-icon(data-src="rank-badge-recruit")
    .txt
      h1#name
      h2 Recruit