.call-sign-select
  .badge-box
    .badge
      img.shadow-icon(data-src="rank-badge-recruit")
    .txt
      h1 John Nimbus
      h2 Recruit
  p Every Defender worth their salt has a call sign they are known by. Let’s choose yours.<br/><br/> Keep it clean, recruit.
  .input
    input#callsign-txt(type="text" placeholder="Type a Call Sign")
    .button#generate-callsign Generate One For Me  