.episode-bookend.episode-outro
  .bg
    img.shadow-icon(data-src="tesselation")
  .content
    .title Level Up
    .rank
      img.shadow-icon(data-src="rank-badge-#{rankId}", scalable="true")
    .txt=rank
    .fist
      img.shadow-icon(data-src="lightning-fist")