.personal-info-intro
  h2 Employee Name
  h1 John Nimbus
  h2 Organization
  h1=organization
  h2 Defender Rank
  h1 Recruit
  img.shadow-icon(data-src="rank-badge-recruit")
  h2 Clearance Level
  h1 Critical Infrastructure Protection (CIP) Version Five
  
  