.sound-test
  .volume
    img.shadow-icon.flip(data-src="speaker")
    .txt Turn on your headphones or speakers now.<br/>It'll be worth it. Trust me.
    img.shadow-icon(data-src="speaker")
  .btn#sound-test Play Test Sound
  .silence
    img.shadow-icon(data-src="closed-caption-big")
    .txt Show or hide movie captions at any time<br/>using the cc button in the corner.
    img.shadow-icon(data-src="closed-caption-big")
