.sound-test
  .volume 
    img.shadow-icon.flip(data-src="speaker")
    .txt Please Enable Your Audio Device
    img.shadow-icon(data-src="speaker")
  .silence
    img.shadow-icon(data-src="no-phone")
    .txt Please Silence Your Cell Phone
    img.shadow-icon(data-src="no-phone")