.progress-map.bottom-item
  each milestone in milestones
    .milestone(id="#{milestone.id}" data-title="#{ milestone.title }" class=milestone.icon === "chapter-progress-chapter" ? "chapter" : undefined )
      img.shadow-icon(data-src="#{ milestone.icon }")
  