.top
  .status-badge
    img.shadow-icon(data-src="ep1-badge")
  .identity
    h1.name John "Deadeye" Nimbus
    h2.rank Cadet First Class
  .episodes
    img.shadow-icon(data-src="ep1-badge")
    img.shadow-icon(data-src="ep1-badge")
    img.shadow-icon(data-src="ep1-badge")
    img.shadow-icon(data-src="ep1-badge")
  .learn-mode
    h2 [ Warcore ]
    h1 Learn Mode
  