.vcr.bottom-item
  .attic.hidden
    .icon-btn#ani-replay 
      .txt Replay
      img.shadow-icon(data-src="btn-generic")
    .icon-btn#ani-continue 
      .txt Continue
      img.shadow-icon(data-src="btn-generic")
  .track
    .playhead
      .svg
        img.shadow-icon(data-src="playhead")
  .pause-and-play
    img.shadow-icon(data-src="pause-btn")