.dialogue-page { width:100%; height:100%; background:black; color:white;
  .title       { }
  .content     { }
  .btns        {
    .btn       { width:200px; height:200px; position:relative; 
      .txt     { text-transform:uppercase; }
      svg      { width:100%; height:100%; }
    }
  }
}