doctype html
html(lang="en")
  
  head
    title ELB - Aristotle

      
    // build:css style.css
    link(href="stage/css/stage.css", rel="stylesheet")
    link(href="css/main.css", rel="stylesheet")
    link(href="css/aristotle-svg.css", rel="stylesheet")
    // endbuild
    
  body
    .holder
    // build:js js/libs.js
    script(src="bower-libs/jquery/dist/jquery.js")
    script(src="bower-libs/stats.js/build/stats.min.js")
    script(src="bower-libs/jade/runtime.js")
    script(src="bower-libs/shadow-icons-library/rel/app.js")
    script(src="bower-libs/createjs-soundjs/lib/soundjs-NEXT.min.js")
    script(src="bower-libs/PreloadJS/lib/preloadjs-0.6.1.min.js")
    script(src="bower-libs/bodymovin/build/player/bodymovin.js")
    script(src="bower-libs/velocity/velocity.js")
    script(src="bower-libs/pubsub-js/src/pubsub.js")
    // endbuild

    // build:js2 js/app.js
    script(src="js/jade-templates.js")
    script(src="js/aristotle-svg.js")
    script(src="js/aristotle.js")
    script(src="stage/js/index.js")
    // endbuild
    
    // build:remove 
    script(src="http://localhost:35729/livereload.js")
    // endbuild
    