doctype html
html(lang="en")
  
  head
    title Metamythic
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    
    // build:css5 lms.css
    link(href="stage/css/stage.css", rel="stylesheet")
    // endbuild
    
    //- script(src="settings-config.js")
    
  body()

    #holder
      //- iframe#iframe(src="index.html" width="100%" height="768px" scrolling="no")
    
    //- The app is started from master.coffee
    // build:js lms.js
    script(src="bower-libs/jquery/dist/jquery.js")
    script(src="bower-libs/scorm-api-wrapper/index.js")
    script(src="stage/js/master.js")
    // build
    
    // build:remove 
    script(src="//192.168.99.76:35729/livereload.js")
    // endbuild
    
