doctype html
html(lang="en")
  
  head
    title Bodymovin - test
    meta(http-equiv="X-UA-Compatible" content="IE=edge")

  body(style="background:black")
    //- script(src="bower-libs/jquery/dist/jquery.js")
    script(src="stage/js/lms.js")
    
    a(href="javascript:lms.launchTraining()" style="color:white;") asdf
    
    // build:remove 
    //- script(src="http://localhost:35729/livereload.js")
    script(src="http://aristotle.dev:35729/livereload.js")
    // endbuild
    