doctype html
html(lang="en")
  
  head
    title Bodymovin - test
    meta(http-equiv="X-UA-Compatible" content="IE=edge")

  body(style="background:black")
    // build:js js/lms.js
    script(src="bower-libs/warcore-lms-interface/SCORM_API_wrapper.js")
    script(src="stage/js/master.js")
    // build
    
    a(href="javascript:lms.launchTraining()" style="color:white;") asdf
    
    //- // build:remove 
    //- //- script(src="http://localhost:35729/livereload.js")
    //- script(src="http://aristotle.dev:35729/livereload.js")
    //- // endbuild
    