$progress-height : 50px;
$progress-size   : 15px;
.progress             {
  .progress-map       { display:flex; align-items:center; padding: 6px 8px 0;
    .milestone        { opacity:0.25; display:inline-block;
      .label-wrapper  { margin-top:10px; margin-left:8px; }
      *               { pointer-events: none; }
      &.viewed        { opacity:1;
        &.chapter     { cursor:pointer; }
        &:hover svg * { fill:$yeller; }
      }
    }
  }
}
