$progress-height : 50px;
$progress-bg     : rgba(black, 0.5);
$progress-size   : 15px;
.progress             { position:absolute; left: 50%; transform: translate(-50%); bottom: -1px; pointer-events:all;
  .progress-map       { background:$progress-bg; display:flex; align-items:center; padding: 6px 8px 0;
    .milestone        { opacity:0.25; display:inline-block;
      .label-wrapper  { margin-top:10px; margin-left:8px; }
      *               { pointer-events: none; }
      &.viewed        { opacity:1; cursor:pointer;
        &:hover svg * { fill:$yeller; }
      }
    }
    &:after,&:before  { height: 0; width: 0; content: ""; display: block; position: absolute; top: 0; }
    &:before          { border-bottom: $progress-height solid $progress-bg; border-left: $progress-size solid transparent; left:-$progress-size ; }
    &:after           { border-bottom: $progress-height solid $progress-bg; border-right: $progress-size solid transparent; right:-$progress-size; }
  }
}
