.progress       { position:absolute;  position: absolute; left: 50%; transform: translate(-50%); bottom: -1px;
  .progress-map { background:rgba(black, 0.5); display:flex; align-items:center;
    .milestone  {

    }
  }
}
