.left-section
  .item-info
    .mini-icon
      each item in items
        .icon(id="icon-#{item.id}" class="#{item.icon}")
    .blurb
    .callout
      .header
      p.details
    .action.fist
      .btn#action-btn
        img.shadow-icon(data-src="#{btnIcon}")
        .txt=btnTxt