.question
  .text= question
  each answer in answers
    .flip-container
      .flipper
        .card.answer.front
          img.shadow-icon(data-src="quiz-answer-bg")
          .txt= answer.a
        .card.response.back
          img.shadow-icon(data-src="quiz-answer-bg")
          .txt=answer.r